## Tuples 
## Creating tuples

We can create a tuple using the two ways

Using parenthesis (): A tuple is created by enclosing comma-separated items inside rounded brackets.\
Using a tuple() constructor: Create a tuple by passing the comma-separated items inside the tuple().

In [20]:
# create a tuple using ()
# number tuple
number_tuple = (10, 20, 25.75)
print(number_tuple)
# Output (10, 20, 25.75)

# string tuple
string_tuple = ('Jessa', 'Emma', 'Kelly')
print(string_tuple)
# Output ('Jessa', 'Emma', 'Kelly')

# mixed type tuple
sample_tuple = ('Jessa', 30, 45.75, [25, 78])
print(sample_tuple)
# Output ('Jessa', 30, 45.75, [25, 78])

# create a tuple using tuple() constructor
sample_tuple2 = tuple(('Jessa', 30, 45.75, [23, 78]))
print(sample_tuple2)
# Output ('Jessa', 30, 45.75, [23, 78])

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
('Jessa', 30, 45.75, [23, 78])

## Create a tuple with a single item
A single item tuple is created by enclosing one item inside parentheses followed by a comma. If the tuple time is a string enclosed within parentheses and not followed by a comma, Python treats it as a str type. Let us see this with an example.

In [1]:
# without comma
single_tuple = ('Hello')
print(type(single_tuple))  
# Output class 'str'
print(single_tuple)  
# Output Hello

# with comma
single_tuple1 = ('Hello',)  
# output class 'tuple'
print(type(single_tuple1))  
# Output ('Hello',)
print(single_tuple1)

<class 'str'>
Hello
<class 'tuple'>
('Hello',)

## Length of a Tuple
We can find the length of the tuple using the len() function. This will return the number of items in the tuple.

In [3]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
# length of a tuple
print(len(tuple1))  
# Output 6

6

## Iterating a Tuple
We can iterate a tuple using a for loop Let us see this with an example.

In [4]:
# create a tuple
sample_tuple = tuple((1, 2, 3, "Hello", [4, 8, 16]))
# iterate a tuple
for item in sample_tuple:
    print(item)

1
2
3
Hello
[4, 8, 16]

## Accessing items of a Tuple
Tuple can be accessed through indexing and slicing. This section will guide you by accessing tuple using the following two ways

Using indexing, we can access any item from a tuple using its index number
Using slicing, we can access a range of items from a tuple
## Indexing
A tuple is an ordered sequence of items, which means they hold the order of the data insertion. It maintains the index value for each item.

We can access an item of a tuple by using its index number inside the index operator [] and this process is called “Indexing”.

In [5]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(4):
    print(tuple1[i])

P
Y
T
H

## Slicing a tuple
We can even specify a range of items to be accessed from a tuple using the technique called ‘Slicing.’ The operator used is ':'.

We can specify the start and end values for the range of items to be accessed from the tuple. The output will be a tuple, and it includes the range of items with the index values from the start till the end of the range. The end value item will be excluded.

We should keep in mind that the index value always starts with a 0.

For easy understanding, we will be using an integer tuple with values from 0 to 9 similar to how an index value is assigned.

In [6]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple with start and end index number
print(tuple1[1:5])
# Output (1, 2, 3, 4)

(1, 2, 3, 4)

In [7]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple without start index
print(tuple1[:5])
# Output (0, 1, 2, 3, 4)

# slice a tuple without end index
print(tuple1[6:])
# Output (6, 7, 8, 9, 10)

(0, 1, 2, 3, 4)
(6, 7, 8, 9, 10)

## Finding an item in a Tuple
We can search for a certain item in a tuple using the index() method and it will return the position of that particular item in the tuple.

The index() method accepts the following three arguments

item – The item which needs to be searched\
start – (Optional) The starting value of the index from which the search will start\
end – (Optional) The end value of the index search

In [8]:
tuple1 = (10, 20, 30, 40, 50)

# get index of item 30
position = tuple1.index(30)
print(position)
# Output 2

2

## Find within a range

We can mention the start and end values for the index() method so that our search will be limited to those values.

Example

In [3]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# Limit the search locations using start and end
# search only from location 4 to 6
# start = 4 and end = 6
# get index of item 60
position = tuple1.index(60,4,6)
print(position)  
# Output 5

5

In [9]:
tupl = (10, 20, 30, 40, 50, 60, 70, 80)
#index out of range
position= tupl.index(50,10,20)
print(position)

ValueError: tuple.index(x): x not in tuple

## Checking if an item exists
We can check whether an item exists in a tuple by using the in operator. This will return a boolean True if the item exists and False if it doesn’t.

In [14]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# checking whether item 50 exists in tuple
print(50 in tuple1)
# Output True
print(500 in tuple1)
# Output False

True
False

## Adding and changing items in a Tuple
A list is a mutable type, which means we can add or modify values in it, but tuples are immutable, so they cannot be changed.

Also, because a tuple is immutable there are no built-in methods to add items to the tuple.

In [15]:
tuple1 = (0, 1, 2, 3, 4, 5)
tuple1[1]= 10

TypeError: 'tuple' object does not support item assignment

In [19]:
tuple1 = (0, 1, 2, 3, 4, 5)

# converting tuple into a list
sample_list = list(tuple1)
# add item to list
sample_list.append(6)
print(tuple1)
print(sample_list)
# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)  
# Output (0, 1, 2, 3, 4, 5, 6)

(0, 1, 2, 3, 4, 5)
[0, 1, 2, 3, 4, 5, 6]
(0, 1, 2, 3, 4, 5, 6)

## Modify nested items of a tuple
One thing to remember here, If one of the items is itself a mutable data type as a list, then we can change its values in the case of a nested tuple.

In [20]:
tuple1 = (10, 20, [25, 75, 85])
# before update
print(tuple1)
# Output (10, 20, [25, 75, 85])
print (tuple1[2][1])
# modify last item's first value
tuple1[2][0] = 250
# after update
print(tuple1)
# Output (10, 20, [250, 75, 85])

(10, 20, [25, 75, 85])
75
(10, 20, [250, 75, 85])

## Removing items from a tuple
Tuples are immutable so there are no pop() or remove() methods for the tuple. We can remove the items from a tuple using the following two ways.

Using del keyword

The del keyword will delete the entire tuple.

In [17]:
sampletup1 =(0,1,2,3,4,5,6,7,8,9,10)
del sampletup1

print(sampletup1)

NameError: name 'sampletup1' is not defined

## Copying a tuple
We can create a copy of a tuple using the assignment operator '=' . This operation will create only a reference copy and not a deep copy because tuples are immutable.

In [18]:
tuple1 = (0, 1, 2, 3, 4, 5)

# copy tuple
tuple2 = tuple1
print(tuple2)
# Output (0, 1, 2, 3, 4, 5)

# changing tuple2
# converting it into a list
sample_list = list(tuple2)
sample_list.append(6)

# converting list back into a tuple2
tuple2 = tuple(sample_list)

# printing the two tuples
print(tuple1)
# Output (0, 1, 2, 3, 4, 5)
print(tuple2)
# Output (0, 1, 2, 3, 4, 5, 6)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5, 6)

## Concatenating two Tuples
We can concatenate two or more tuples in different ways. One thing to note here is that tuples allow duplicates, so if two tuples have the same item, it will be repeated twice in the resultant tuple. Let us see each one of them with a small example.

## Using the + operator
We can add two tuples using the + operator. This is a very and straightforward method and the resultant tuple will have items from both the tuples.

In [19]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# concatenate tuples using + operator
tuple3 = tuple1 + tuple2
print(tuple3)
# Output (1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)