In [1]:
n = int(input())
count = 2
s = 0
while count <= n:
    s = count + 1
    count = count + 1
    if n % 2 == 0:
       print(s)

5

In [2]:
number = int(input())
count = 2
Sum = 0
while count <= number:
      Sum = count + Sum
      count = count + 2
print(Sum)

6
12

In [3]:
n = int(input())
d=2
Flag=False
while d<n:
    if n%d==0:
        flag = True
    d=d+1
if flag:
    print ("n is prime")
else:
    print("n is not prime")

8
n is prime

In [4]:
li=[1,3,5,7,9,11]
print(li, len(li))

[1, 3, 5, 7, 9, 11] 6

In [5]:
for i in range (2,len (li), 2):
    print(li[i])

5
9

In [6]:
for ele in li:
    print(ele)

1
3
5
7
9
11

In [7]:
for ele in li[2:6]:
    print(ele)

5
7
9
11

In [8]:
n = int(input())
l2 = []
for i in range(n):
    l2.append(input())
print(l2)

5
1
45
8
6
8
['1', '45', '8', '6', '8']

In [9]:
print(l2[-1])
print(l2[-2])
print(l2[-3])
print(l2[-4])
print(l2[-5])

8
6
8
45
1

In [10]:
li= [ int(x) for x in input().split()]

3

In [11]:
li

[3]

In [12]:
n=int(input())
li=[int(x) for x in input().split()]
li[i]

6
5

IndexError: list index out of range

In [1]:
name="ABHISHEK SHARMA"
for i in name:
    print (i)
    if i=="S":
    
        print("This is special")

A
B
H
I
S
This is special
H
E
K

S
This is special
H
A
R
M
A

In [1]:
colours=["Red", "Yellow", "Green", "Orange", "Blue"]
for color in colours:
    print(color)
    for i in color:
        print(i)

Red
R
e
d
Yellow
Y
e
l
l
o
w
Green
G
r
e
e
n
Orange
O
r
a
n
g
e
Blue
B
l
u
e

In [1]:
for k in range (1,9):
    print(k)

1
2
3
4
5
6
7
8

In [2]:
x=int(input())
while x>0:
    print (x)
    x=x-1

5
5
4
3
2
1

In [5]:
n = int(input())
rev = 0
 
while(n > 0):
    a = n % 10
    rev = rev * 10 + a
    n = n // 10
 
print(rev)

52698
89625

In [2]:
n=int(input())
i=0
sum=0
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

5
15

In [8]:
n = int(input())
d = 2
Flag = False
while d < n:
    if (n % d == 0):
        flag = True
    d = d + 1

if Flag:
    print("not prime")
else:
    print("prime")

8
prime

In [9]:
li=[5,6,8]
print(li)

[5, 6, 8]

In [18]:
li2=li
li2

[1, 2, 3, 8]

In [7]:
def inc(li):
    li[0]=li[0]+2
li=[1,2,3,4]
inc(li)
print(li)

[3, 2, 3, 4]

In [11]:
def r1(li):
    l=len(li)
    for i in range (l//2):
        li[i],li[-i-1]=li[-i-1],li[i]
li=[1,2,3,4,5,6,7,8]
r1(li)
print(li)

[8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
l2=[0,2,4,6,8,10]
l2[0:4:3]

[0, 6]

In [16]:
l2[::-1]

[10, 8, 6, 4, 2, 0]

In [2]:
class student:
    def __init__(self,name, RollNo):
        self.name=name
        self.RollNo = RollNo
    def display(self):
        print(self.name, self.RollNo)
s1=student("abc",21)
s1.display()

abc 21

In [4]:
a=int(input())
print(a*2)

5
10

In [18]:
class A():
    pass
class B():
    pass
o1=A()
o2=B()
print(isinstance(o1,A))
print(isinstance(o1,B))
print(isinstance(o2,A))
print(isinstance(o2,B))
print(isinstance("APp", (str, int)))

True
False
False
True
True

In [29]:
class A:
    def f1(self):
        print("Base")
class B:
    def f1(self):
        print("Child")
o1=A()
print(o1.f1)
o2=B()
print(o2.f1)

<bound method A.f1 of <__main__.A object at 0x000001645FD07490>>
<bound method B.f1 of <__main__.B object at 0x00000164609DB450>>

In [48]:
class Car:
    def __init__(self,make,year,model):
        self.make=make
        self.model=model
        self.year=year
    def info(self):
        print(f"Car Details : {self.make}{self.year}{self.model}")
Swift=Car("  Suzuki  ",  2022  , "  ZDI")
Swift.info()

Car Details :   Suzuki  2022  ZDI

In [26]:
class Student():
    pass
o1=Student() 
print(isinstance(o1,Student))

True

In [3]:
class Bike:
    name = "    "
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

In [13]:
class Student:

# default constructor
    def __init__(self):
        self.name = "Abcd"

# a method for printing data members
    def print_name(self):
        print(self.name)
# creating object of the class
obj = Student()
obj.print_name() #

Abcd

In [2]:
first_name = 'odell'

last_name = 'Johnson' 

first_name ='Odell'

display(first_name)

'Odell'

In [1]:
ic_flavors = ['ChocChip', 'Van', 'Choc', 'MintChip', 'Straw']

ic_flavors[0: ]

['ChocChip', 'Van', 'Choc', 'MintChip', 'Straw']

In [2]:
store_locations = ['ATL', 'AUS', 'CHI', 'NYC', 'SFO']

store_locations[2]

'CHI'